.fondo {
  background-color: aquamarine;
}

button:nth-of-type(odd) {
  background-color: rgb(54, 17, 17);
}

p {
  border: 1px solid black;
}

p:hover {
  cursor: pointer;
}

.eventos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border: 1px solid black;
}

.eventos:hover {
  cursor: pointer;
}

.eventos:nth-of-type(odd) {
  background-color: lightblue;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
